body {
   
  margin: 0;
}
#navBarNavHead {
  margin: 0;
  color:white;
  float: left;
  backface-visibility: hidden;
  background-color: rgb(5, 5, 117);
  height: 58px;
   
}

#navBarNavSub {
  margin: 0;
  padding: 0;
  color: white;
  backface-visibility: hidden;
  background-color: rgb(5, 5, 117);
  display: block;
}
#navBar {
  display: inline;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 117);
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
      display: block;
      padding: 20px 16px;
      text-decoration: none;
      color: white;
  }

  li a:hover {
    background-color: rgb(1, 1, 26);
  }

  header {
    margin: 0;
    color:yellow;
    background-color: white;
  }

  #mainContent {
    
  }

  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  
  #sidebarWrapper {
    float: right;
    width: 20vw;
    height: 70vh;
    text-align: center;
    color: white;
    background-color: rgb(5, 5, 117)
    ;
    
  }
  
  #sidebarLinks {
    height: 60vh; 
    width: 18vw;
    color: white;
    background-color: rgb(5, 5, 117);


    
  }

